*{
    font-family: antonio;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;

}
body{
    background: #DFE0DF;
}
/* NavBar */
nav{
    background: #E28340;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container{
    display: flex;
}

.nav-item {
    padding: 2em;
    display: pointer;
    font-size: 14px;
    color: #DFE0DF;
}
.nav-item :hover{
    color:#cecece;
}
.nav-item :visited{
    color:#DFE0DF;
}
.social-container{
    display: flex;
}
.social-link a{
    cursor: pointer;
}
.social-link a img{
    padding: .3em;
    width: 18px;
}

/* Header */

header{
    background:#E28340;
    background-image: url("./Images/header-detail.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: #DFE0DF;
}

.quote-container{
    width: 40vw;
    margin: 0 160px;
}

.quote{
    font-weight: 300;
    font-size: 50px;
    width: 260px;
}
.about-summary{
    margin-top: 1em;
    font-weight: 100;
}

.resume-btn{
    background: #2B2B2B;
    color: #DFE0DF;
    margin-top: 2em;
    padding: 5px 20px;
    border: 0;
    border-radius: 13px;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
}
.resume-btn:hover{
    background: #000000;
}

/* Projects */
.projects{
    background: #DFE0DF;
    
}

.title-container{
    margin: 0 auto;
    width: 70%;
    position: relative;
    top: -50px;
    padding: 30px;
    background:#DFE0DF;

}
.title{
    text-align: center;
    color:#E28340;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 0;
}
.project-container{
    margin: 0 110px;
    display: flex;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-bottom: 100px;
}
.web-card{
    width: 500px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .5);
}

.mobile-card{
    width: 180px;
    z-index: 5;
    position: relative;
    top: 60px;
    left: 90px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .5);
}

.cta-card{
    background: #DFE0DF;
    z-index: 5;
    position: relative;
    top: 80px;
    left: -120px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





